---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Llorca Bastien">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
  class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
>
Bonjour et bienvenue sur mon portfolio !
</h1>
<p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
 

Je suis Llorca Bastien, étudiant en cybersécurité a la Plateforme. Je suis passionné par la protection des données et la lutte contre les cybermenaces. Mon objectif est de contribuer à un monde numérique plus sûr en combinant mes connaissances techniques et ma curiosité pour résoudre des défis complexes. À travers mes projets et mes recherches, je m'efforce d'explorer des solutions innovantes pour sécuriser les systèmes et protéger les informations sensibles.

N'hésitez pas à explorer mon site pour découvrir mes compétences, mes projets et mes aspirations dans le domaine de la cybersécurité. 🚀 <br
    class="hidden lg:block"
  />
</p>
<p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
  Je peux vous aider sur :
</p>
<ul
  class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
>
  <li>Développement Python</li>
  <li>VmWare</li>
  <li>et bien plus encore...</li>

        </ul>
        <Button text="Suivez moi sur Github" link="https://github.com/bastien-llorca" />
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
           
            </span>
          </div>
          <div class="relative z-30 px-0">
            <img
              src="https://i.ibb.co/MsrJx35/LA-1-1.png"
              loading="eager"
              decoding="auto"
              class="relative z-30 w-full aspect-[500/500] md:max-w-md mx-auto dark:-translate-y-0.5"
              width="200px"
            />
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text="Découvrez mes projets" />
  <Projects />

</Layout>